@charset "UTF-8";
:root {
  --dt-row-selected-link: 9, 10, 11;
}


table.dataTable > tbody > tr.selected a {
  color: rgb(9, 10, 11);
  color: rgb(var(--dt-row-selected-link));
}
/* table.dataTable > tbody > tr > th,
table.dataTable > tbody > tr > td {
  padding: 8px 10px;
} */


